body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1796 {
  position:absolute;
  left:20px;
  top:20px;
  width:360px;
  height:640px;
}
#u1797 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1798 {
  position:absolute;
  left:160px;
  top:28px;
  width:81px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1799 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1800 {
  position:absolute;
  left:27px;
  top:28px;
  width:20px;
  height:20px;
}
#u1801 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1802 {
  position:absolute;
  left:27px;
  top:28px;
  width:20px;
  height:20px;
}
#u1803 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1804 {
  position:absolute;
  left:21px;
  top:89px;
  width:358px;
  height:70px;
}
#u1805 {
  position:absolute;
  left:2px;
  top:27px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1806 {
  position:absolute;
  left:27px;
  top:95px;
  width:101px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1807 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1808 {
  position:absolute;
  left:27px;
  top:118px;
  width:93px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1809 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1810 {
  position:absolute;
  left:27px;
  top:136px;
  width:71px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1811 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1812 {
  position:absolute;
  left:153px;
  top:98px;
  width:55px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1813 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1814 {
  position:absolute;
  left:21px;
  top:158px;
  width:358px;
  height:70px;
}
#u1815 {
  position:absolute;
  left:2px;
  top:27px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1816 {
  position:absolute;
  left:27px;
  top:164px;
  width:101px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1817 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1818 {
  position:absolute;
  left:27px;
  top:187px;
  width:90px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1819 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u1820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1820 {
  position:absolute;
  left:27px;
  top:205px;
  width:71px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1821 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1822 {
  position:absolute;
  left:153px;
  top:167px;
  width:55px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1823 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1824 {
  position:absolute;
  left:352px;
  top:114px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1825 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1826 {
  position:absolute;
  left:350px;
  top:28px;
  width:20px;
  height:20px;
}
#u1827 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1828 {
  position:absolute;
  left:21px;
  top:55px;
  width:273px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u1829 {
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1830 {
  position:absolute;
  left:27px;
  top:63px;
  width:20px;
  height:20px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1832 {
  position:absolute;
  left:294px;
  top:55px;
  width:85px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1833 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u1834 {
  position:absolute;
  left:362px;
  top:70px;
  width:10px;
  height:6px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1836 {
  position:absolute;
  left:352px;
  top:183px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1837 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1838 {
  position:absolute;
  left:122px;
  top:136px;
  width:51px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1840 {
  position:absolute;
  left:122px;
  top:205px;
  width:61px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u1841 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
