body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u808 {
  position:absolute;
  left:20px;
  top:20px;
  width:360px;
  height:640px;
  font-size:16px;
}
#u809 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u810 {
  position:absolute;
  left:160px;
  top:28px;
  width:81px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u812 {
  position:absolute;
  left:47px;
  top:30px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3399FF;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u814 {
  position:absolute;
  left:27px;
  top:28px;
  width:20px;
  height:20px;
}
#u815 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:600px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:21px;
  top:59px;
  width:358px;
  height:600px;
}
#u817 {
  position:absolute;
  left:2px;
  top:292px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u818 {
  position:absolute;
  left:21px;
  top:65px;
  width:358px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u819 {
  position:absolute;
  left:2px;
  top:16px;
  width:354px;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u820 {
  position:absolute;
  left:346px;
  top:81px;
  width:20px;
  height:20px;
}
#u821 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u822 {
  position:absolute;
  left:21px;
  top:121px;
  width:358px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u823 {
  position:absolute;
  left:2px;
  top:17px;
  width:354px;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u824 {
  position:absolute;
  left:346px;
  top:136px;
  width:20px;
  height:20px;
}
#u825 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
