body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7891 {
  position:absolute;
  left:21px;
  top:20px;
  width:360px;
  height:640px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7892 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:45px;
  background:inherit;
  background-color:rgba(71, 189, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(71, 189, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7893 {
  position:absolute;
  left:22px;
  top:21px;
  width:358px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7894 {
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  word-wrap:break-word;
}
#u7895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7895 {
  position:absolute;
  left:28px;
  top:29px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7896 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7897 {
  position:absolute;
  left:22px;
  top:66px;
  width:358px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7898 {
  position:absolute;
  left:2px;
  top:17px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7900 {
  position:absolute;
  left:30px;
  top:86px;
  width:342px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u7901 {
  position:absolute;
  left:2px;
  top:10px;
  width:338px;
  word-wrap:break-word;
}
#u7902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7902 {
  position:absolute;
  left:48px;
  top:94px;
  width:20px;
  height:20px;
}
#u7903 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(71, 189, 255, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7904 {
  position:absolute;
  left:31px;
  top:135px;
  width:340px;
  height:89px;
}
#u7905 {
  position:absolute;
  left:2px;
  top:36px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u7906 {
  position:absolute;
  left:48px;
  top:144px;
  width:161px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7907 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u7908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u7908 {
  position:absolute;
  left:48px;
  top:200px;
  width:117px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7909 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u7910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u7910 {
  position:absolute;
  left:48px;
  top:175px;
  width:79px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7911 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7912 {
  position:absolute;
  left:343px;
  top:144px;
  width:20px;
  height:20px;
}
#u7913 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u7914 {
  position:absolute;
  left:141px;
  top:170px;
  width:24px;
  height:26px;
}
#u7915 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7916 {
  position:absolute;
  left:172px;
  top:173px;
  width:40px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7917 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u7918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7918 {
  position:absolute;
  left:31px;
  top:234px;
  width:340px;
  height:89px;
}
#u7919 {
  position:absolute;
  left:2px;
  top:36px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u7920 {
  position:absolute;
  left:48px;
  top:243px;
  width:161px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7921 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u7922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u7922 {
  position:absolute;
  left:48px;
  top:299px;
  width:117px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7923 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u7924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u7924 {
  position:absolute;
  left:48px;
  top:274px;
  width:79px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7925 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7926 {
  position:absolute;
  left:343px;
  top:243px;
  width:20px;
  height:20px;
}
#u7927 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u7928 {
  position:absolute;
  left:141px;
  top:269px;
  width:24px;
  height:26px;
}
#u7929 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7930 {
  position:absolute;
  left:31px;
  top:333px;
  width:340px;
  height:89px;
}
#u7931 {
  position:absolute;
  left:2px;
  top:36px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u7932 {
  position:absolute;
  left:48px;
  top:342px;
  width:161px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7933 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u7934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u7934 {
  position:absolute;
  left:48px;
  top:398px;
  width:117px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7935 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u7936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u7936 {
  position:absolute;
  left:48px;
  top:373px;
  width:79px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7937 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7938 {
  position:absolute;
  left:343px;
  top:342px;
  width:20px;
  height:20px;
}
#u7939 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u7940 {
  position:absolute;
  left:141px;
  top:368px;
  width:24px;
  height:26px;
}
#u7941 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7942 {
  position:absolute;
  left:22px;
  top:609px;
  width:358px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7943 {
  position:absolute;
  left:2px;
  top:16px;
  width:354px;
  word-wrap:break-word;
}
