body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8546 {
  position:absolute;
  left:20px;
  top:20px;
  width:360px;
  height:640px;
}
#u8547 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8548 {
  position:absolute;
  left:27px;
  top:30px;
  width:20px;
  height:20px;
}
#u8549 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u8550 {
  position:absolute;
  left:184px;
  top:28px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8551 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u8552 {
  position:absolute;
  left:29px;
  top:55px;
  width:342px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u8553 {
  position:absolute;
  left:2px;
  top:10px;
  width:338px;
  word-wrap:break-word;
}
#u8554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8554 {
  position:absolute;
  left:47px;
  top:63px;
  width:20px;
  height:20px;
}
#u8555 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8556 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8557 {
  position:absolute;
  left:29px;
  top:102px;
  width:342px;
  height:89px;
}
#u8558 {
  position:absolute;
  left:2px;
  top:36px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u8559 {
  position:absolute;
  left:47px;
  top:115px;
  width:87px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8560 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u8561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
}
#u8561 {
  position:absolute;
  left:47px;
  top:166px;
  width:117px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8562 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u8563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u8563 {
  position:absolute;
  left:47px;
  top:145px;
  width:79px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8564 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u8565 {
  position:absolute;
  left:342px;
  top:29px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u8566 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
