body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8518 {
  position:absolute;
  left:20px;
  top:20px;
  width:360px;
  height:640px;
}
#u8519 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8520 {
  position:absolute;
  left:29px;
  top:31px;
  width:20px;
  height:20px;
}
#u8521 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:381px;
}
#u8522 {
  position:absolute;
  left:47px;
  top:61px;
  width:307px;
  height:381px;
}
#u8523 {
  position:absolute;
  left:2px;
  top:182px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
